$purp: #2b012f;
$dpurp: #452094;
$yell: #ffdc7c;
$newWhite: #fafafa;

.project-card {
	margin: 10% 4%;

	.project-img {
		border-radius: 4%;
		background-size: 100%;
	}

	.title {
		text-align: center;
		font-size: 3rem;
		font-weight: 500;
		margin: 0 auto 0.4rem auto;
	}

	button {
		position: relative;
		display: block;
		width: 100%;
		height: 1.6rem;
		background-color: $purp;
		border-radius: 28px;
		border: 2px solid $dpurp;
		cursor: pointer;
		color: $newWhite;
		font-family: Arial;
		font-size: 1.2rem;
		padding: 0.6rem 0 2rem 0;
		text-decoration: none;
		text-shadow: 0px 1px 0px $dpurp;
	}

	button:hover {
		transition: .2s;
		background-color: $newWhite;
		color: $purp;
	}

	.source {
		margin: 0.4rem 0.4rem 0.5rem 0;
	}

	.eye-icon {
		position: absolute;
		right: 12px;
		bottom: 10px;
		font-size: 1.5rem;
	}

	.github-icon {
		position: absolute;
		right: 14px;
		bottom: 10px;
		font-size: 1.3rem;
	}

	.img-horizontal {
		width: 40rem;
		height: 30rem;
	}

	.img-vertical {
		height: 30.2rem;
	}

	.img-square {
		width: 28rem;
		height: 30rem;
	}
}

@media only screen and (max-width: 720px) {
	.project-card {
		.img-horizontal {
			width: 26rem;
			height: 22rem;
		}

		.img-square {
			width: 24rem;
			height: 24rem;
		}

		.img-vertical {
			width: 24rem;
			height: 26rem;
		}

		margin: 10%;
	}
}

@media only screen and (max-width: 430px) {
	.project-card {
		.title {
			font-size: 1.8rem;
		}

		.img-horizontal {
			width: 20rem;
			height: 14rem;
		}

		.img-square {
			width: 18rem;
			height: 20rem;
		}

		.img-vertical {
			width: 17.6rem;
			height: 21rem;
		}

		margin: 20% auto;
	}
}

@media only screen and (max-width: 330px) {
	.project-card {
		.title {
			font-size: 1.8rem;
		}

		.img-horizontal {
			width: 18rem;
			height: 14rem;
		}
	}
}
